
$violet: #8876fe;
$plum: #8d1287;
$indigo: #622aff;
$azure: #027fff;
$tomato: #f63e54;
$persimmon: #e94b1b;
$pumpkin: #e2620c;
$orange: #e66702;
$green: #0c9d46;
$sea-green: #099b9d;
$teal: #049cb7;
$aqua: #039e8f;
$sapphire: #3d44c3;
$ultramarine: #0d1387;
$magenta: #dd04d1;
$tangelo: #ff3e17;
$cobalt: #5451fb;


$gradient-blue: linear-gradient(135deg,#1c7df3,#1abcfa);
$gradient-green: linear-gradient(135deg, $teal,#3dd9bd);
$gradient-purple: linear-gradient(135deg,#0D1387,#867AF6);
$gradient-red: linear-gradient(135deg,$tomato,$tangelo);
