
$gradient-violet: #8876fe;
$gradient-plum: #8d1287;
$gradient-indigo: #622aff;
$gradient-azure: #027fff;
$gradient-tomato: #f63e54;
$gradient-persimmon: #e94b1b;
$gradient-pumpkin: #e2620c;
$gradient-orange: #e66702;
$gradient-green: #0c9d46;
$gradient-sea-green: #099b9d;
$gradient-teal: #049cb7;
$gradient-aqua: #039e8f;
$gradient-sapphire: #3d44c3;
$gradient-ultramarine: #0d1387;
$gradient-magenta: #dd04d1;
$gradient-tangelo: #ff3e17;
$gradient-cobalt: #5451fb;


$gradient-blue: linear-gradient(135deg,#1c7df3,#1abcfa);
$gradient-green: linear-gradient(135deg, $gradient-teal,#3dd9bd);
$gradient-purple: linear-gradient(135deg,#0D1387,#867AF6);
$gradient-red: linear-gradient(135deg,$gradient-tomato,$gradient-tangelo);
