.bold{
  font-weight: bold;
}
.number{
  font-family: 'JetBrains Mono';
}
.text-green{color: $gradient-aqua;}
.text-orange{color: $gradient-pumpkin;}
.text-black{color: #000;}
.text-gray{color: $gray;}


.left   {float: left !important;}
.right  {float: right !important;}
.hidden {display: none !important;}
.show   {display: block !important;}


