@import "reset";
@import "utility";
@import "variables";
@import "mixin";

.body-normal{background-color: $bg-light;}
.body-white{background-color: white;}

// FRAME
body{
  position: relative;
  @extend .body-white;
}

.diary {
  .diary-list {
    width: 100%;
  }
  .diary-container {
    display: none;
  }
}

.diary-list{
  padding-bottom: 45px;
  width: 100%;
}

@media (min-width: $grid-separate-width) {
  .diary {
    padding-top: $height-navbar;
    display: flex;
    .diary-list {
      border-right: 1px solid $color-border;
      overflow-y: auto;
      width: $width-login-panel;
      flex-shrink: 0;
      background-color: $bg-light;
    }
    .diary-container {
      display: block;
      overflow-y: auto;
      flex-grow: 1;
    }
  }
}
