@import "reset";
@import "utility";
@import "variables";
@import "mixin";

// FRAME
body{
  position: relative;
  background-color: white;
}

.diary {
  padding-top: $height-navbar;
  .diary-list {
    width: 100%;
  }
  .diary-container {}
}

.diary-list{
  background-color: $bg-light;
  padding-bottom: 45px;
  width: 100%;
}

// PC & IPAD
@media (min-width: $grid-separate-width-md) {
  .diary {
    display: flex;
    .diary-list {
      border-right: 1px solid $color-border;
      overflow-y: auto;
      width: $menu-panel-big;
      flex-shrink: 0;
      background-color: $bg-light;
    }
    .diary-container {
      display: block;
      overflow-y: auto;
      flex-grow: 1;
    }
  }
}

// IPAD
@media (min-width: $grid-separate-width-md) and (max-width: $grid-separate-width-big) {
  .diary {
    padding-top: $height-navbar;
    display: flex;
    .diary-list {
      border-right: 1px solid $color-border;
      width: 400px;
    }
    .diary-container {
      display: block;
    }
  }
}

// MOBILE
@media (max-width: $grid-separate-width-md) {
  .diary {
    .diary-list {
      width: 100%;
    }
    .diary-container {
      display: none;
    }
  }
}

