@import "reset";
@import "utility";
@import "variables";
@import "mixin";

.body-normal{background-color: $bg-light;}
.body-white{background-color: white;}

// FRAME
body{
  position: relative;
  @extend .body-white;
}

.diary {
  padding-top: $height-navbar;
  display: flex;
  .diary-list {
    overflow-y: auto;
    width: 500px;
    flex-shrink: 0;
    @extend .body-normal;
  }
  .diary-container {
    overflow-y: auto;
    flex-grow: 1;
  }
}

.diary-list{
  padding-bottom: 45px;
  width: 100%;
}

@media (min-width: $grid-separate-width) {
  .diary-list{
    border-right: 1px solid $color-border;
  }
}
