@use "sass:math";
@import "../../../scss/plugin";

.category-selector{
  @include border-radius($radius-mobile);
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid $bg-light;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  .category-wrapper{
    width: 20%;
    padding: 5px 3px;
    &:hover{
      .category{
        background-color: $bg-light;
      }
    }
    .category{
      @extend .unselectable;
      @include border-radius(5px);
      padding: 5px;
      flex-shrink: 0;
      display: block;
      font-weight: bold;
      cursor: pointer;
      font-size: $fz-label;
      text-align: center;
    }
  }
}

@media (min-width: $grid-separate-width-max){
  .category-selector {
    padding: 15px;
    @include border-radius($radius-pc);
    .category{
    }
  }
}


// MAX
@media (min-width: $grid-separate-width-big) and (max-width: $grid-separate-width-max) {
  .category-selector{
    .category{
    }
  }
}

// IPAD
@media (min-width: $grid-separate-width-md) and (max-width: $grid-separate-width-big) {
  .category-selector{
    .category{
    }
  }
}

// MOBILE
@media (max-width: $grid-separate-width-md) {
  .category-selector{
    .category{
    }
  }
}

