
.navbar{
  padding: 0 5px 0 0;
  z-index: $z-navbar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $bg-navbar;
  .navbar-btn-group{
    display: flex;
    img{
      padding: 3px;
      display: block;
      background-color: transparent;
      cursor: pointer;
      width: $height-navbar;
      height: $height-navbar;
      &:active{
        @include border-radius(50px);
        background-color: rgba(255,255,255,0.1);
        opacity: 0.8;
      }
    }
  }

  .brand{
    cursor: pointer;
    margin: 0 auto;
    height: $height-navbar;
    width: 80px;
    img{
      padding: 3px;
      margin: 0 auto;
      display: block;
      height: $height-navbar;
    }
  }
}