@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "SF UI Display", "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-appearance: none !important;
}

code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}

:focus,
:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}

::-webkit-scrollbar {
  z-index: 50;
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
  transition: all 0.2s;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #ddd;
  transition: all 0.2s;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.diary-detail {
  padding: 45px 0;
}
@media screen and (min-width: 765px) {
  .diary-detail {
    margin: 0 auto;
  }
}

.diary-meta {
  background-color: #eeeeee;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.diary-meta .weather img {
  height: 30px;
  display: block;
}
.diary-meta .temperature {
  line-height: 30px;
  font-size: 1.1rem;
}
.diary-meta .date {
  line-height: 30px;
  color: #373737;
}

.diary-title {
  border-bottom: 1px solid #E5E5EA;
  padding: 20px 0;
  margin: 0 20px;
}
.diary-title h2 {
  font-weight: normal;
  font-size: 1.1rem;
}

.detail-category {
  font-size: 0.8rem;
  text-align: center;
  margin: 3px 0;
  padding: 2px 10px;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.detail-category-life {
  border: 1px solid #FF9500;
  background-color: #FF9500;
}

.detail-category-study {
  border: 1px solid #4CD964;
  background-color: #4CD964;
}

.detail-category-bigevent {
  border: 1px solid #FF3B30;
  background-color: #FF3B30;
}

.detail-category-sport {
  border: 1px solid #FFCC00;
  background-color: #FFCC00;
}

.detail-category-week {
  border: 1px solid #5856D6;
  background-color: #5856D6;
}

.detail-category-work {
  border: 1px solid #007AFF;
  background-color: #007AFF;
}

.detail-category-game {
  border: 1px solid #5AC8FA;
  background-color: #5AC8FA;
}

.detail-category-film {
  border: 1px solid #FF2D70;
  background-color: #FF2D70;
}

.detail-category-article {
  border: 1px solid #CC73E1;
  background-color: #CC73E1;
}

.detail-category-all {
  border: 1px solid #8bc34a;
  background-color: #8bc34a;
}

.diary-content {
  color: #373737;
  line-height: 1.6;
  font-size: 1rem;
  padding: 20px;
}
.diary-content p {
  font-family: "Consolas", "Monaco", sans-serif;
  margin-bottom: 15px;
  line-height: 1.5;
}

textarea:focus {
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.diary-editor-title {
  display: block;
  width: 100%;
  resize: none;
  height: 100px;
  padding: 15px;
  font-size: 1.1rem;
  border-bottom: 1px solid #EFEFF4;
}

.diary-editor-content {
  font-family: "Consolas", "Monaco", sans-serif;
  display: block;
  width: 100%;
  resize: vertical;
  height: 220px;
  padding: 15px;
  font-size: 1rem;
  border-bottom: 1px solid #EFEFF4;
}

.diary-input-group {
  display: flex;
  font-size: 18px;
  padding: 0 10px;
  background-color: #fff;
  height: 40px;
  border-bottom: 1px solid #EFEFF4;
}
.diary-input-group label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50%;
  color: #9B9B9B;
  line-height: 40px;
}
.diary-input-group input {
  width: 50%;
  text-align: right;
  background-color: transparent;
  font-size: 18px;
  padding: 6px;
  line-height: 28px;
}
.diary-input-group .temperature {
  padding: 5px 10px;
}

.category-selector {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 8px;
  padding: 15px 15px 5px;
  background-color: white;
  border-bottom: 1px solid #EFEFF4;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.category-selector input[id^=category-] + label {
  flex-shrink: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  font-weight: bold;
  width: 16.8%;
  margin-bottom: 10px;
  margin-right: 4%;
  cursor: pointer;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
.category-selector input[id^=category-] + label:nth-child(5n+0) {
  margin-right: 0;
}
@media screen and (min-width: 765px) {
  .category-selector {
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .category-selector label {
    flex-grow: 1;
    flex-shrink: 1 !important;
    margin-right: 0 !important;
  }
}
.category-selector #category-life + label {
  color: #FF9500;
}
.category-selector #category-life:checked + label {
  background-color: #FF9500;
  color: white;
}
.category-selector #category-study + label {
  color: #4CD964;
}
.category-selector #category-study:checked + label {
  background-color: #4CD964;
  color: white;
}
.category-selector #category-bigevent + label {
  color: #FF3B30;
}
.category-selector #category-bigevent:checked + label {
  background-color: #FF3B30;
  color: white;
}
.category-selector #category-sport + label {
  color: #FFCC00;
}
.category-selector #category-sport:checked + label {
  background-color: #FFCC00;
  color: white;
}
.category-selector #category-week + label {
  color: #5856D6;
}
.category-selector #category-week:checked + label {
  background-color: #5856D6;
  color: white;
}
.category-selector #category-work + label {
  color: #007AFF;
}
.category-selector #category-work:checked + label {
  background-color: #007AFF;
  color: white;
}
.category-selector #category-game + label {
  color: #5AC8FA;
}
.category-selector #category-game:checked + label {
  background-color: #5AC8FA;
  color: white;
}
.category-selector #category-film + label {
  color: #FF2D70;
}
.category-selector #category-film:checked + label {
  background-color: #FF2D70;
  color: white;
}
.category-selector #category-article + label {
  color: #CC73E1;
}
.category-selector #category-article:checked + label {
  background-color: #CC73E1;
  color: white;
}
.category-selector #category-all + label {
  color: #8bc34a;
}
.category-selector #category-all:checked + label {
  background-color: #8bc34a;
  color: white;
}

.weather-selector {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 8px;
  display: flex;
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid #EFEFF4;
}
.weather-selector input[id^=weather-] + label {
  flex-grow: 1;
  flex-shrink: 0;
  background: center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  height: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  font-weight: bold;
  width: 12.5%;
  cursor: pointer;
}
.weather-selector input[id^=weather-] + label img {
  margin: 0 auto;
  height: 30px;
  display: block;
}
.weather-selector input[id^=weather-] + label:nth-child(6n+0) {
  margin-right: 0;
}
.weather-selector #weather-sunny + label {
  background-image: url(../img/weather/sunny.svg);
}
.weather-selector #weather-sunny:checked + label {
  background-image: url(../img/weather/sunny_active.svg);
}
.weather-selector #weather-cloudy + label {
  background-image: url(../img/weather/cloudy.svg);
}
.weather-selector #weather-cloudy:checked + label {
  background-image: url(../img/weather/cloudy_active.svg);
}
.weather-selector #weather-overcast + label {
  background-image: url(../img/weather/overcast.svg);
}
.weather-selector #weather-overcast:checked + label {
  background-image: url(../img/weather/overcast_active.svg);
}
.weather-selector #weather-fog + label {
  background-image: url(../img/weather/fog.svg);
}
.weather-selector #weather-fog:checked + label {
  background-image: url(../img/weather/fog_active.svg);
}
.weather-selector #weather-sprinkle + label {
  background-image: url(../img/weather/sprinkle.svg);
}
.weather-selector #weather-sprinkle:checked + label {
  background-image: url(../img/weather/sprinkle_active.svg);
}
.weather-selector #weather-rain + label {
  background-image: url(../img/weather/rain.svg);
}
.weather-selector #weather-rain:checked + label {
  background-image: url(../img/weather/rain_active.svg);
}
.weather-selector #weather-thunderstorm + label {
  background-image: url(../img/weather/thunderstorm.svg);
}
.weather-selector #weather-thunderstorm:checked + label {
  background-image: url(../img/weather/thunderstorm_active.svg);
}
.weather-selector #weather-snow + label {
  background-image: url(../img/weather/snow.svg);
}
.weather-selector #weather-snow:checked + label {
  background-image: url(../img/weather/snow_active.svg);
}

input[id^=category-], input[id^=weather-] {
  display: none;
}

.bg-life {
  background-color: #FF9500;
}

.bg-study {
  background-color: #4CD964;
}

.bg-bigevent {
  background-color: #FF3B30;
}

.bg-sport {
  background-color: #FFCC00;
}

.bg-week {
  background-color: #5856D6;
}

.bg-work {
  background-color: #007AFF;
}

.bg-game {
  background-color: #5AC8FA;
}

.bg-film {
  background-color: #FF2D70;
}

.bg-article {
  background-color: #CC73E1;
}

.bg-all {
  background-color: #8bc34a;
}

.list-content {
  background-color: #fff;
}

.diary-list-group .list-header {
  border-top: 1px solid #E5E5EA;
  border-bottom: 1px solid #E5E5EA;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 0 20px;
  color: black;
  background-color: #EFEFF4;
  height: 40px;
  line-height: 40px;
}
.diary-list-group .list-item {
  display: block;
  flex-flow: row nowrap;
  height: 28px;
}
.diary-list-group .list-item:last-child .detail {
  border: 0;
}
.diary-list-group .list-item:hover {
  background-color: #FFF0D1;
}
.diary-list-group .list-item .category {
  float: left;
  width: 3px;
  height: 28px;
  display: block;
}
.diary-list-group .list-item .date {
  float: left;
  width: 25px;
  padding: 0 5px;
  flex-shrink: 0;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  font-weight: bold;
  color: #232323;
}
.diary-list-group .list-item .detail {
  position: relative;
  display: flex;
  padding-right: 8px;
  margin-left: 35px;
}
.diary-list-group .list-item .detail .title {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 28px;
  display: block;
  font-size: 14px;
  color: #232323;
}
.diary-list-group .list-item .detail .icon {
  flex-shrink: 0;
  padding: 4px 0;
  height: 28px;
  width: 20px;
  display: block;
}
.diary-list-group .list-item .detail::after {
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #EFEFF4;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -o-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.load-more {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  border: 1px solid #a8a8ac;
  display: block;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  width: 40%;
  margin: 20px auto 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.load-more:active {
  color: #373737;
  border-color: #373737;
}

.end-of-diary {
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.12);
  background-color: white;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
  text-align: center;
  padding: 20px 0 10px;
}
.end-of-diary img {
  height: 45px;
}

.search-bar {
  background-color: #E5E5EA;
  position: relative;
  padding: 8px 10px;
}
.search-bar input {
  width: 100%;
  line-height: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  display: block;
  border: 1px solid #E5E5EA;
  font-size: 1em;
}
.search-bar input:focus {
  border-color: #FF9500;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.search-bar .clear {
  color: #8E8E93;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 17px;
  right: 20px;
  display: block;
}

.loading {
  height: 30px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading .loading-item {
  width: 3px;
  margin-right: 5px;
}
.loading .loading-item:last-child {
  margin-right: 0;
}
.loading-1 {
  height: 30px;
  -webkit-animation: load-frame-1 1s infinite linear 0s;
  -o-animation: load-frame-1 1s infinite linear 0s;
  animation: load-frame-1 1s infinite linear 0s;
  background-color: #FF3B30;
}
.loading-2 {
  height: 15px;
  -webkit-animation: load-frame-2 1s infinite linear 0s;
  -o-animation: load-frame-2 1s infinite linear 0s;
  animation: load-frame-2 1s infinite linear 0s;
  background-color: #FF9500;
}
.loading-3 {
  height: 7.5px;
  -webkit-animation: load-frame-1 1s infinite linear 0s;
  -o-animation: load-frame-1 1s infinite linear 0s;
  animation: load-frame-1 1s infinite linear 0s;
  background-color: #373737;
}

@keyframes load-frame-1 {
  0% {
    height: 7.5px;
  }
  50% {
    height: 30px;
  }
  100% {
    height: 7.5px;
  }
}
@keyframes load-frame-2 {
  0% {
    height: 30px;
  }
  50% {
    height: 7.5px;
  }
  100% {
    height: 30px;
  }
}
.menu-panel {
  z-index: 10;
  overflow: auto;
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  background-color: #4A4A4A;
}

.menu-list-group {
  display: block;
  list-style-type: none;
  padding: 30px 30px;
}

.menu-list-group-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  color: #ffffff;
}
.menu-list-group-item::after {
  width: 100%;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  background-color: #8E8E93;
  height: 1px;
  position: absolute;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.menu-list-group-item:active {
  background-color: #646464;
}

.user-info {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
  text-align: center;
}
.user-info .username {
  font-size: 20px;
  line-height: 30px;
  display: block;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}
.user-info .email {
  font-size: 16px;
  line-height: 20px;
  display: block;
  color: rgba(255, 255, 255, 0.5);
}

.reference {
  padding: 30px;
}
.reference:after:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
.reference .list-group-item {
  display: block;
  text-align: center;
  float: left;
}
.reference .list-group-item input[type=checkbox] + label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  color: #ffffff;
  line-height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px dashed #8E8E93;
}
.reference .list-group-item input[type=checkbox]:checked + label.reference-life {
  background-color: #FF9500;
  border-color: #FF9500;
}
.reference .list-group-item input[type=checkbox]:checked + label.reference-study {
  background-color: #4CD964;
  border-color: #4CD964;
}
.reference .list-group-item input[type=checkbox]:checked + label.reference-bigevent {
  background-color: #FF3B30;
  border-color: #FF3B30;
}
.reference .list-group-item input[type=checkbox]:checked + label.reference-sport {
  background-color: #FFCC00;
  border-color: #FFCC00;
}
.reference .list-group-item input[type=checkbox]:checked + label.reference-week {
  background-color: #5856D6;
  border-color: #5856D6;
}
.reference .list-group-item input[type=checkbox]:checked + label.reference-work {
  background-color: #007AFF;
  border-color: #007AFF;
}
.reference .list-group-item input[type=checkbox]:checked + label.reference-game {
  background-color: #5AC8FA;
  border-color: #5AC8FA;
}
.reference .list-group-item input[type=checkbox]:checked + label.reference-film {
  background-color: #FF2D70;
  border-color: #FF2D70;
}
.reference .list-group-item input[type=checkbox]:checked + label.reference-article {
  background-color: #CC73E1;
  border-color: #CC73E1;
}
.reference .list-group-item input[type=checkbox]:checked + label.reference-all {
  background-color: #8bc34a;
  border-color: #8bc34a;
}

@media screen and (min-width: 765px) {
  .list-group-item {
    margin-right: 30px;
    width: 120px;
  }
}
@media screen and (max-width: 765px) {
  .list-group-item {
    margin-right: 20%;
    width: 40%;
  }
  .list-group-item:nth-child(2n+0) {
    margin-right: 0;
  }

  .toggle-btn {
    width: 100%;
  }
}
.about {
  position: relative;
  height: 100%;
  text-align: center;
  color: #EFEFF4;
  padding-top: 60px;
}
.about .title {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: white;
}
.about .subtitle {
  font-weight: normal;
  color: #8E8E93;
}
.about .author {
  width: 100%;
  position: absolute;
  bottom: 60px;
}
.about .author a {
  display: block;
  line-height: 20px;
  font-size: 14px;
  height: 20px;
}
.about .author a:link, .about .author a:hover, .about .author a:active, .about .author a:visited {
  color: #8E8E93;
}

.navbar {
  padding: 0 5px 0 0;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #373737;
}
.navbar .navbar-btn-group {
  display: flex;
}
.navbar .navbar-btn-group img {
  padding: 3px;
  display: block;
  background-color: transparent;
  cursor: pointer;
  width: 45px;
  height: 45px;
}
.navbar .navbar-btn-group img:active {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.8;
}
.navbar .brand {
  cursor: pointer;
  margin: 0 auto;
  height: 45px;
  width: 80px;
}
.navbar .brand img {
  padding: 3px;
  margin: 0 auto;
  display: block;
  height: 45px;
}

.body-regist {
  position: relative;
  background-color: #4A4A4A;
  width: 100%;
  height: 100%;
  padding: 25px;
}
.body-regist .logo {
  padding: 30px 0;
}
.body-regist .logo img {
  height: 150px;
  display: block;
  margin: 0 auto;
}
.body-regist .input-group {
  margin-bottom: 15px;
}
.body-regist .input-group label {
  display: block;
  line-height: 200%;
  font-size: 14px;
  color: #EFEFF4;
}
.body-regist .input-group input {
  background-color: #373737;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  line-height: 1.5;
  padding: 8px 15px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  transition: all 0.5s;
}
.body-regist .input-group input:focus {
  transition: all 0.5s;
  -webkit-box-shadow: 0 0 0 2px #FF9500;
  -moz-box-shadow: 0 0 0 2px #FF9500;
  box-shadow: 0 0 0 2px #FF9500;
}
.body-regist .btn {
  padding: 8px 15px;
  margin-top: 40px;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #EFEFF4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.body-regist .btn:active {
  transform: translateY(2px);
}
.body-regist .btn-active {
  background-color: #FF9500;
}
.body-regist .btn-active:hover {
  background-color: #e68600;
}
.body-regist .btn-inactive {
  color: #8E8E93;
  border: 1px solid #8E8E93;
  background-color: transparent;
}
.body-regist .footer {
  padding: 20px 0 0;
}
.body-regist .footer a {
  cursor: pointer;
  font-size: 14px;
  color: #EFEFF4;
}
.body-regist .footer a:hover, .body-regist .footer a:active, .body-regist .footer a:visited {
  color: white;
}
.body-regist .footer .left {
  float: left;
}
.body-regist .footer .right {
  float: right;
}

#toast {
  z-index: 300;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
}

.toast {
  overflow: hidden;
  z-index: 500;
  position: fixed;
  border: 1px solid #4A4A4A;
  background-color: #373737;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 240px;
  left: 50%;
  margin-left: -120px;
  margin-top: -50px;
  top: 50%;
  color: #FF9500;
}
.toast-header {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
}
.toast-body {
  color: white;
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
}
.toast-footer {
  border-top: 1px solid #4A4A4A;
  display: flex;
  flex-flow: row nowrap;
}
.toast-footer div {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  flex-grow: 1;
  display: block;
}
.toast-footer div:active {
  background-color: #4A4A4A;
}
.toast-footer .btn-confirm {
  border-left: 1px solid #4A4A4A;
}

/**
弹窗和 toast
 */
.popMessage {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 0 8px;
  text-align: center;
  background-color: #373737;
}
.popMessage h3 {
  line-height: 25px;
  font-size: 14px;
}
.popMessage-default h3 {
  color: white;
}
.popMessage-warning h3 {
  color: #FF9500;
}
.popMessage-success h3 {
  color: #4CD964;
}
.popMessage-danger h3 {
  color: #FF3B30;
}

.animated {
  animation-duration: 0.51s;
}

.animated-fast {
  animation-duration: 0.31s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

.article {
  font-size: 13px;
  background-color: white;
}
.article-header {
  color: #373737;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 6px 15px;
}
.article-header:active {
  transform: translateY(2px);
}
.article-header .week {
  font-weight: bold;
}
.article-header .category {
  font-weight: bold;
}
.article-body {
  color: #373737;
  padding: 0 15px;
}
.article-body .title {
  font-weight: bold;
  line-height: 1.3;
  padding: 10px 0;
}
.article-body .content {
  padding-bottom: 12px;
  color: #373737;
  line-height: 1.5;
}
@media (min-width: 765px) {
  .article {
    font-size: 14px;
  }
  .article-header {
    padding: 8px 15px;
  }
  .article-body {
    padding: 0 15px;
  }
  .article-body .content {
    padding-bottom: 15px;
  }
}
.category-bg-life {
  border-top: 0.5px solid #FF9500;
  background-color: rgba(255, 149, 0, 0.06);
}

.text-life {
  color: #FF9500;
}

.category-bg-study {
  border-top: 0.5px solid #4CD964;
  background-color: rgba(76, 217, 100, 0.06);
}

.text-study {
  color: #4CD964;
}

.category-bg-bigevent {
  border-top: 0.5px solid #FF3B30;
  background-color: rgba(255, 59, 48, 0.06);
}

.text-bigevent {
  color: #FF3B30;
}

.category-bg-sport {
  border-top: 0.5px solid #FFCC00;
  background-color: rgba(255, 204, 0, 0.06);
}

.text-sport {
  color: #FFCC00;
}

.category-bg-week {
  border-top: 0.5px solid #5856D6;
  background-color: rgba(88, 86, 214, 0.06);
}

.text-week {
  color: #5856D6;
}

.category-bg-work {
  border-top: 0.5px solid #007AFF;
  background-color: rgba(0, 122, 255, 0.06);
}

.text-work {
  color: #007AFF;
}

.category-bg-game {
  border-top: 0.5px solid #5AC8FA;
  background-color: rgba(90, 200, 250, 0.06);
}

.text-game {
  color: #5AC8FA;
}

.category-bg-film {
  border-top: 0.5px solid #FF2D70;
  background-color: rgba(255, 45, 112, 0.06);
}

.text-film {
  color: #FF2D70;
}

.category-bg-article {
  border-top: 0.5px solid #CC73E1;
  background-color: rgba(204, 115, 225, 0.06);
}

.text-article {
  color: #CC73E1;
}

.category-bg-all {
  border-top: 0.5px solid #8bc34a;
  background-color: rgba(139, 195, 74, 0.06);
}

.text-all {
  color: #8bc34a;
}

.body-normal {
  background-color: #EFEFF4;
}

.body-white {
  background-color: white;
}

body {
  position: relative;
}

.container {
  padding: 45px 0;
  width: 100%;
}

/*# sourceMappingURL=diary.css.map */
