.diary-list-group{
  .list-header{
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    font-size: $fz-list-header;
    font-weight: bold;
    text-align: left;
    padding: 0 20px;
    color: $color-text-date;
    background-color: $bg-light;
    height: $height-header;
    line-height: $height-header;
    font-family: 'Impact', sans-serif;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  }
}

.load-more {
  @extend .unselectable;
  background-color: white;
  border: 1px solid lighten($gray, 10%);
  display: block;
  line-height: 30px;
  font-size: $fz-list-content;
  text-align: center;
  width: 40%;
  margin: 20px auto 30px;
  @include border-radius(5px);

  &:active{
    color: $bg-main;
    border-color: $bg-main;
  }
}

.end-of-diary{
  @include box-shadow(1px 2px 4px rgba(0,0,0,0.12));
  background-color: white;
  @include border-radius(0 0 15px 15px);
  text-align: center;
  padding: 20px 0 10px;
  img{
    height: 45px;
  }
}

.search-bar{
  background-color: $bg-searchbar;
  position: relative;
  padding: 8px 10px;
  input{
    width: 100%;
    line-height: 25px;
    @include border-radius();
    padding: 5px 10px;
    display: block;
    border: 1px solid $color-border;
    font-size: 1em;
    &:focus{
      border-color: $color-main;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    }
  }
  .clear{
    color: $gray;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 17px;
    right: 20px;
    display: block;
  }
}

