@use "sass:math";
.category-selector{
  @include border-radius(10px);
  margin: 8px;
  $gaps: 4%;
  $cols: 5;
  padding: 15px 15px 5px;
  background-color: white;
  border-bottom: 1px solid $bg-light;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  > div{
    flex-shrink: 0;
    width: math.div(100 - $cols - 1 * $gaps, $cols);
    margin-bottom: 10px;
    margin-right: $gaps;
    height: 30px;
    &:nth-child(#{$cols}n+0){
      margin-right: 0;
    }
  }

  input[id^=category-] + label{
    @include unselectable;
    display: block;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
    @include border-radius(5px);
    text-align: center;
  }

  @media (min-width: $grid-separate-width){
    justify-content: flex-end;
    padding: 10px;
    label{
      flex-grow: 1;
      flex-shrink: 1 !important;
      margin-right: 0 !important;
    }

    > div{
      margin-bottom: 0;
      &:nth-child(#{$cols}n+0){
        margin-right: 20px;
      }
      margin-right: 20px;
      width: auto;
      label{
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }

  @each $name, $color in $categories {
    #category-#{$name} + label{
      color: $color;
    }
    #category-#{$name}:checked + label {
      background-color: $color;
      color: white;
    }
  }
}


// 隐藏所有 Input
input[id^=category-]{
  display: none;
}
