$height-meta: 30px;
.diary-meta{
  background-color: #eeeeee;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  .weather{
    padding: 3px;
    img{
      height: $height-meta - 3*2;
      display: block;
    }
  }
  .temperature{
    line-height: $height-meta;
  }
  .date{
    line-height: $height-meta;
    color: $bg-navbar;
  }
}

.diary-title{
  border-bottom: 1px solid $color-border;
  margin: 0 20px;
  padding: 20px 0;
  h2{
    font-weight: normal;
    font-size: 1.1rem;
  }
}

.detail-category{
  font-size: .8rem;
  text-align: center;
  margin: 3px 0;
  padding: 2px 10px;
  color: white;
  @include border-radius(5px)
}

@each $name, $color in $categories {
  .detail-category-#{$name}{
    border: 1px solid $color;
    background-color: $color;
  }
}

.diary-content{
  color: $bg-navbar;
  line-height: 1.6;
  font-size: 1rem;
  margin: 0 20px;
  padding: 20px 0;
  p{
    font-family: "Consolas", "Monaco", sans-serif;
    margin-bottom: 15px;
    line-height: 1.5;
  }
}

@media (min-width: $grid-separate-width){
  .diary-detail{
    margin: 0 auto;
  }
  .diary-meta{
    justify-content: space-around;
  }
}