//NEW
$height-input: 40px;
textarea{
  width: 100%;
  display: block;
  border-bottom: 1px solid $bg-light;
  padding: 15px;
  &:focus{
    @include box-shadow(inset 1px 1px 5px rgba(0,0,0,0.2))
  }
}

.editor-title{
  textarea{
    resize: none;
    height: 100px;
    font-size: 1.1rem;
  }
}

.editor-content{
  textarea{
    font-family: "Consolas", "Monaco", sans-serif;
    resize: vertical;
    height: 220px;
    font-size: 1rem;
  }
}
.editor-input-group{
  justify-content: space-between;
  display: flex;
  font-size: 18px;
  padding: 0 10px;
  background-color: white;
  border-bottom: 1px solid $bg-light;
  label{
    @include unselectable();
    color: $color-text-label;
    line-height: $height-input;
  }
  input{
    padding: 6px 0;
    min-width: 50%;
    text-align: right;
    background-color: transparent;
    line-height: $height-input - 6*2;
  }
  .input{
    padding: 6px 0;
  }
}

.mx-datepicker{
  width: auto;
}

@media (min-width: $grid-separate-width){
  $border-radius: 5px;
  textarea{
    padding: 10px 15px;
    border: 1px solid $color-border;
    @include border-radius($border-radius);
    @include transition(all 0.5s);
    &:focus{
      border-color: $color-border-highlight;
      @include box-shadow(none);
      @include transition(all 0.5s);
    }
  }
  .editor-title{
    padding: 8px;
  }
  .editor-content{
    padding: 0 8px 8px 8px;
  }
  .editor-input-group{
    height: auto;
    padding: 5px 10px;
    @include border-radius($border-radius);
    margin: 8px;
  }
}


input[type=checkbox],
input[type=radio]
{
  display: none;
}

$height-radio: 22px;
$radio-gap: 2px;
$radio-length-timer: 1.8;

input[type=checkbox] + label.switch
{
  position: relative;
  display: block;
  @include border-radius($height-radio * 1.5);
  background-color: $color-border;
  //border-bottom: 1px solid white;
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
  height: $height-radio + $radio-gap * 2;
  width: $height-radio * $radio-length-timer;
  @include transition(all 0.3s);
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: $radio-gap;
    left: $radio-gap;
    width: $height-radio;
    height: $height-radio;
    @include border-radius($height-radio);
    background-color: white;
    @include box-shadow(1px 1px 2px rgba(0,0,0,0.2));
    @include transition(all 0.3s);
  }
}

input[type=checkbox]:checked + label.switch
{
  background-color: $green;
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
  @include transition(all 0.3s);
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: $height-radio * $radio-length-timer - $radio-gap - $height-radio;
    right: 0;
    width: $height-radio;
    height: $height-radio;
    @include border-radius($height-radio);
    @include transition(all 0.3s);
  }
}