// MENU
$height-menu-list: 50px;

.menu-panel{
  z-index: 10;
  overflow: auto;
  position: fixed;
  top: $height-navbar;
  left: 0;
  width: 100%;
  background-color: $bg-menu;
}

.menu-list-group{
  display: block;
  list-style-type: none;
  padding: 30px 30px;
}

.menu-list-group-item{
  @include unselectable;
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 20px;
  height: $height-menu-list;
  line-height: $height-menu-list;
  padding: 0 15px;
  color: white;
  &:after{
    width: 100%;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    background-color: $gray;
    height: 1px;
    position: absolute;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
  }
  &:active{
    background-color: lighten($bg-menu,10%);
  }
}

.user-info{
  text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  .username{
    font-size: 16px;
    line-height: 1.5;
    display: block;
    font-weight: bold;
    color: white;
  }
  .email{
    font-size: 13px;
    line-height: 1.2;
    display: block;
    font-weight: 300;
    color: $about-subtitle;
  }
  .statistics{
    @extend .email;
  }
}

// MENU CATEGORY
$menu-category-list-item-height: 40px;

.menu-category {
  padding: 20px;
}

.menu-category-list{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
}
.menu-category-item {
  flex-shrink: 0;
  position: relative;
  display: block;
  text-align: center;
  width: 45%;
  .count{
    display: block;
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 10px;
    line-height: 1;
  }
  input[type=checkbox] + label {
    @include unselectable;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    line-height: $menu-category-list-item-height;
    @include border-radius(5px);
    border: 1px dashed $gray;
  }
  @each $name, $color in $categories {
    input[type=checkbox]:checked + label {
      &.menu-category-#{$name} {
        background-color: $color;
        border-color: $color;
        .count{
          display: none;
        }
      }
    }
  }
}

.menu-category-operations{
  border-top: 1px dashed $bg-navbar;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  .toggle-btn{
    text-align: center;
    width: 30%;
    input[type=checkbox] + label {
      @include unselectable;
      width: 100%;
      display: block;
      margin-bottom: 20px;
      font-size: 20px;
      color: white;
      line-height: $menu-category-list-item-height;
      @include border-radius(5px);
      border: 1px dashed $gray;
    }
    @each $name, $color in $categories {
      input[type=checkbox]:checked + label {
        &.menu-category-#{$name} {
          background-color: $color;
          border-color: $color;
        }
      }
    }
  }
}

.about{
  position: relative;
  height: 100%;
  text-align: center;
  color: $bg-light;
  padding-top: 60px;
  .title{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: white;
  }
  .subtitle{
    color: $about-subtitle;
    font-weight: 300;
  }
  .author{
    width: 100%;
    position: absolute;
    bottom: 60px;
    a{
      display: block;
      line-height: 20px;
      font-size: $fz-note;
      height: 20px;
      &:link,&:hover,&:active,&:visited{
        color: $about-subtitle;
        font-weight: 300;
      }
    }
  }
}

// PC
@media (min-width: $grid-separate-width-big) {
  .menu-panel {
    width: $menu-panel-big;
  }
  .menu-category {
    padding: 30px;
    .menu-category-item {
      width: 40%;
    }
  }
  .menu-category-operations{
    border-top: 1px dashed $bg-navbar;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    .toggle-btn{
      width: 30%;
    }
  }
}

// PC & IPAD
@media (min-width: $grid-separate-width-md) and (max-width: $grid-separate-width-big) {
  .menu-panel{
    width: $menu-panel-sm;
  }
  .menu-category {
    padding: 30px;
    .menu-category-item {
      width: 40%;
    }
  }
  .menu-category-operations{
    border-top: 1px dashed $bg-navbar;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    .toggle-btn{
      width: 30%;
    }
  }
}