.navbar-container{
  z-index: $z-navbar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar{
  padding: 0 5px 0 0;
  background-color: $bg-main;
  .navbar-btn-group{
    display: flex;
  }
  .brand{
    cursor: pointer;
    margin: 0 auto;
    height: $height-navbar;
    width: 80px;
    img{
      padding: 3px;
      margin: 0 auto;
      display: block;
      height: $height-navbar;
    }
  }
}
