.statistic-container{
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}

.statistic-content{
  padding: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}

.statistic-header{
  position: sticky;
  top: 0;
  height: $height-navbar;
  background-color: $bg-main;
  display: flex;
  color: white;
  justify-content: flex-start;
  align-items: center;
  .statistic-title{
    font-size: $fz-big;
    font-weight: bold;
    text-align: center;
  }
  .statistic-back-btn{
    @extend .btn-like
  }
}



