.statistic-container{
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}

.statistic-content{
  overflow-y: auto;
  overflow-x: hidden;
}

.statistic-diary{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.statistic-user{

}

.statistic-header{
  position: sticky;
  top: 0;
  height: $height-navbar;
  background-color: $bg-main;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  .statistic-title{
    flex-grow: 1;
    font-size: $fz-title;
    font-weight: bold;
    text-align: left;
  }
  .statistic-back-btn{
  }

  .main-statistic{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    .main-statistic-item{
      margin-right: 20px;
      flex-flow: row nowrap;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .label{
        font-size: $fz-title;
        margin-right: 10px;
      }
      .value{
        font-size: $fz-title;
      }
    }
  }
}


@media (min-width: $grid-separate-width-max)  {
  .statistic-content{
    padding: 20px;
  }
}

@media (min-width: $grid-separate-width-big) and (max-width: $grid-separate-width-max) {
  .statistic-content{
    padding: 20px;
  }
}

@media (min-width: $grid-separate-width-md) and (max-width: $grid-separate-width-big) {
  .statistic-content{
    padding: 20px;
  }
}

@media (min-width: $grid-separate-width-sm) and (max-width: $grid-separate-width-md) {
  .statistic-content{
    padding: 30px;
  }
}

@media (max-width: $grid-separate-width-sm) {
  .statistic-content{
    padding: 10px;
    .statistic-diary, .statistic-user{
      flex-flow: column nowrap;
    }
    .statistic-info, .statistic-charts{
      width: 100%;
      flex-flow: column nowrap;
    }
  }
}


