.weather-selector{
  @include border-radius($radius-mobile);
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid $bg-light;
  .weather{
    padding: 5px;
    @include unselectable;
    display: block;
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 0;
    &:hover{
      background-color: $bg-light;
      @include border-radius(20px)
    }
    img{
      @include unselectable;
      margin: 0 auto;
      height: 30px;
      width: 30px;
      display: block;
    }
  }
}


// big
@media (min-width: $grid-separate-width-big){
  .weather-selector {
    padding: 20px;
    @include border-radius($radius-pc);
    .weather{
      flex-grow: 0;
      width: 12.5%;
    }
  }
}

// md
@media (min-width: $grid-separate-width-md) and (max-width: $grid-separate-width-big) {
  .weather-selector {
    padding: 20px;
    @include border-radius($radius-pc);
    .weather{
      flex-grow: 0;
      width: 20%;
    }
  }
}

// sm
@media (max-width: $grid-separate-width-md) {

}