// MENU
$menu-category-list-item-height: 40px;

.menu-panel{
  z-index: 10;
  overflow: auto;
  position: fixed;
  top: $height-navbar;
  left: 0;
  width: 100%;
  background-color: $bg-menu;
}

.menu{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.menu-list{
  display: block;
  list-style-type: none;
  padding: 20px 20px;
}

.menu-btn {
  flex-shrink: 0;
  position: relative;
  display: block;
  text-align: center;
  width: 45%;
  margin-bottom: 20px;
  font-size: 20px;
  color: black;
  line-height: $menu-category-list-item-height;
  border: 1px solid $color-main;
  background-color: $color-main;
  @include border-radius(5px);
  @extend .btn-like;
}

.user-info-panel{
  padding: 30px 60px 50px;
  .avatar{
    margin: 0 auto;
    width: 80px;
    height: 80px;
    @include border-radius(50px);
    outline-width: 1px;
    overflow: hidden;
    img{
      width: 100%;
      display: block;
    }
  }
  .user-info{
    margin: 0 auto;
    padding: 8px 10px;
    @include border-radius($radius-pc $radius-pc 0 0);
    display: flex;
    background-color: transparentize(white, 0.9);
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-size: 13px;
    white-space: nowrap;
    color: $text-about-subtitle;

    .user{
      .username{
        font-weight: bold;
        font-size: $fz-label;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .operation{
      display: flex;
      justify-content: center;
      .logout {
        color: $color-main;
        opacity: 0.7;
        @extend .btn-like;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .statistics{
    margin: 0 auto;
    margin-top: 1px;
    padding: 8px 10px;
    @include border-radius(0 0 $radius-pc $radius-pc);
    display: flex;
    background-color: transparentize(white, 0.9);
    justify-content: space-around;
    align-items: center;
    line-height: 1.5;
    font-size: 13px;
    white-space: nowrap;
    color: $text-about-subtitle;
  }
}




// MENU CATEGORY
.menu-category {
  padding: 20px;
}

.menu-category-list{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
}
.menu-category-item {
  @extend .btn-like;
  @extend .unselectable;
  flex-shrink: 0;
  position: relative;
  display: block;
  text-align: center;
  width: 45%;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
  line-height: $menu-category-list-item-height;
  @include border-radius(5px);
  border: 1px dashed $gray;
  &.menu-category-shared{
    background-color: transparent;
    &.active{
      background-color: white;
      color: $text-title;
      border: 1px solid white;
    }
  }
  .count{
    color: white;
    display: block;
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 10px;
    line-height: 1;
  }
}

.category-operations-container{
  padding-top: 20px;
  border-top: 1px solid $bg-main;
}


// PC
@media (min-width: $grid-separate-width-big) {
  .menu-panel {
    width: $menu-panel-big;
  }
  .menu-category {
    padding: 30px;
    .menu-category-item {
      width: 40%;
    }
  }
}

// PC & IPAD
@media (min-width: $grid-separate-width-md) and (max-width: $grid-separate-width-big) {
  .menu-panel{
    width: $menu-panel-sm;
  }
  .user-info-panel{
    padding: 30px 50px;
  }
  .menu-category {
    padding: 30px;
    .menu-category-item {
      width: 40%;
    }
  }
}

@media (max-width: $grid-separate-width-md) {
  .user-info-panel{
    padding: 30px 50px 50px;
  }
}
