<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="css/diary.css?v=v=5.9.5">
    <link rel="stylesheet" href="plugins/datetimepicker/jquery.datetimepicker.min.css">
    <!--js-->
<!--    <script src="js/vue_2.66.js"></script> &lt;!&ndash;develop&ndash;&gt;-->
    <script src="js/vue.min.2.6.10.js"></script> <!--production-->
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="plugins/datetimepicker/moment.js"></script>
    <script src="plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/diary.js?v=v=5.9.5"></script>

    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="img/appicon-apple.png">

    <title>日记 - 编辑</title>
</head>
<body class="body-normal">


<nav class="navbar clearfix" id="navbar">
    <div @click="closeEditor"      class="navbar-btn-group left" > <img src="img/tabicon/back.svg" alt="关闭"></div>
    <div class="navbar-btn-group right">
        <img @click="createDiary" v-show="createNewBtnShow" src="img/tabicon/add.svg" alt="新建">
        <img @click="saveDiary" v-show="saveBtnShow" src="img/tabicon/done.svg" alt="保存">
    </div>
    <div class="brand">
        <a @click="showContentEditor"><img :src="logoImageUrl" alt="日记"></a>
    </div>
</nav>


<div class="container" id="diaryEditor">

    <textarea id="diary-editor-title" class="diary-editor-title" placeholder="一句话，概括你的一天" v-model="title"></textarea>
    <textarea v-show="contentEditorShowed" id="diary-editor-content" class="diary-editor-content" placeholder="日记详细内容，如果你有很多要写的" v-model="content"></textarea>

    <div class="diary-input-group">
        <label for="date">日期</label>
        <input readonly placeholder="选择时间" class="date" type="text" :value="date" name="date" id="date">
    </div>
    <div class="diary-input-group">
        <label for="temperature">气温 ℃</label>
        <input placeholder="--" class="temperature" type="number" name="temperature" id="temperature" v-model="temperature">
    </div>

    <div class="category-selector">
        <input type="radio" name="category" value="life"     id="category-life"    v-model="category">
        <label for="category-life">生活</label>
        <input type="radio" name="category" value="study"    id="category-study"    v-model="category">
        <label for="category-study">学习</label>
        <input type="radio" name="category" value="work"     id="category-work"     v-model="category">
        <label for="category-work">工作</label>
        <input type="radio" name="category" value="game"     id="category-game"     v-model="category">
        <label for="category-game">游戏</label>
        <input type="radio" name="category" value="film"     id="category-film"     v-model="category">
        <label for="category-film">电影</label>
        <input type="radio" name="category" value="sport"    id="category-sport"    v-model="category">
        <label for="category-sport">运动</label>
        <input type="radio" name="category" value="bigevent" id="category-bigevent" v-model="category">
        <label for="category-bigevent">大事</label>
        <input type="radio" name="category" value="week"    id="category-week"      v-model="category">
        <label for="category-week">周报</label>
        <input type="radio" name="category" value="article"    id="category-article"   v-model="category">
        <label for="category-article">文章</label>
    </div>

    <div class="weather-selector">
        <input type="radio" name="weather" value="sunny"          id="weather-sunny"       v-model="weather">
        <label for="weather-sunny"></label>
        <input type="radio" name="weather" value="cloudy"         id="weather-cloudy"      v-model="weather">
        <label for="weather-cloudy"></label>
        <input type="radio" name="weather" value="overcast"       id="weather-overcast"    v-model="weather">
        <label for="weather-overcast"></label>
        <input type="radio" name="weather" value="fog"            id="weather-fog"         v-model="weather">
        <label for="weather-fog"></label>
        <input type="radio" name="weather" value="sprinkle"       id="weather-sprinkle"    v-model="weather">
        <label for="weather-sprinkle"></label>
        <input type="radio" name="weather" value="rain"           id="weather-rain"        v-model="weather">
        <label for="weather-rain"></label>
        <input type="radio" name="weather" value="thunderstorm"   id="weather-thunderstorm" v-model="weather">
        <label for="weather-thunderstorm"></label>
        <input type="radio" name="weather" value="snow"           id="weather-snow"        v-model="weather">
        <label for="weather-snow"></label>
    </div>

</div>


<div class="action-list-group" id="modal-action">
    <action-list-item
            v-for="action in actions"
            v-bind:action="action"
            v-bind:key="action.id">
    </action-list-item>
</div>

<script>
  // 日期控件初始化
  $(() => {
    $.datetimepicker.setLocale('ch');
    $('#date').datetimepicker({
      datepicker: true,       // 是否可选日期
      timepicker: true,       // 是否可选时间
      format: 'Y-m-d H:i',    // 定义输出时间格式 2019-06-28 16:00
      onClose: date => {
        diaryEditor.date = dateFormatter(date, 'yyyy-MM-dd hh:mm');
      }
    });
  });

  // Navbar
  let navbar = new Vue({
    el:"#navbar",
    data:{
      logoImageUrl: 'img/logo_title.svg',
      saveBtnShow: true,
      createNewBtnShow: true,
      btnSwitchDelay: 2,
    },
    methods:{
      closeEditor() {
        history.back();
      },
      saveDiary() {
        let that = this;
        if(diaryEditor.title.trim().length === 0) {
          diaryEditor.title = ''; // clear content
          popMessage(PopMessageType.warning, '内容未填写', null);
          return;
        }
        if(diaryEditor.date.trim().length === 0){
          popMessage(PopMessageType.warning, '日期未填写', null);
          return;
        }

        if(diaryEditor.temperature !== '' &&!/^-?\d{1,2}$/.test(diaryEditor.temperature)){
          popMessage(PopMessageType.warning, '温度格式不正确', null);
          return
        }
        let queryData = {
          diaryId: diaryEditor.id,
          diaryTitle: diaryEditor.title,
          diaryContent: diaryEditor.content? diaryEditor.content: null ,
          diaryCategory: diaryEditor.category,
          diaryTemperature: diaryEditor.temperature === ''? -273 : diaryEditor.temperature,
          diaryWeather: diaryEditor.weather,
          diaryDate: diaryEditor.date,
          type: diaryEditor.isNew? 'add': 'modify'
        };

        $.ajax({
          data: queryData,
          method: 'POST',
          dataType: 'json',
          url: URL.diaryOperation,
          success: res => {
            if (res.success){
              // 成功后更新 origin 字符串
              diaryEditor.titleOrigin = diaryEditor.title;
              diaryEditor.contentOrigin = diaryEditor.content;
              diaryEditor.updateDiaryIcon();

              that.diaryHasSaved = true;
              popMessage(PopMessageType.success, res.info); // 提示
              if(res.data){
                diaryEditor.isNew = false;
                diaryEditor.id = res.data[0].id
              }
            } else if (!res.logined){ // 未登录
              popMessage(PopMessageType.default, res.info, () => {
                location = FrontURL.login;
              })
            } else {
              popMessage(PopMessageType.default, res.info);
              // navbar.createNewBtnShow = true;
            }
          },
          error: xhr => {
            console.log(xhr)
          }
        })
      },
      createDiary() {
        diaryEditor.isNew = true;
        diaryEditor.title = '';
        diaryEditor.titleOrigin = '';
        diaryEditor.content = '';
        diaryEditor.contentOrigin = '';
        diaryEditor.id = '';
        diaryEditor.category = "life";
        diaryEditor.temperature = '';
        diaryEditor.weather = "sunny";
      },
      showContentEditor() {
        diaryEditor.contentEditorShowed = !diaryEditor.contentEditorShowed;
      }
    }
  });


  let diaryEditor = new Vue({
    el: '#diaryEditor',
    data: {
      isNew: true,
      contentEditorShowed: false,
      id:"",
      date: dateFormatter(new Date(), 'yyyy-MM-dd hh:mm'),
      title: "",
      titleOrigin: "",
      content:"",
      contentOrigin:"",
      category: "life",
      temperature: '',
      weather: "sunny"
    },
    watch:{
      title: function () {
        this.updateDiaryIcon();
      },
      content: function () {
        this.updateDiaryIcon();
      },
      contentEditorShowed: function () {
        this.updateDiaryIcon();
      },
    },

    methods: {
      updateDiaryIcon(){
        if(diaryEditor.diaryHasChanged){
          navbar.logoImageUrl = diaryEditor.contentEditorShowed? 'img/logo_content.svg': 'img/logo_title.svg'
        } else {
          navbar.logoImageUrl = diaryEditor.contentEditorShowed? 'img/logo_content_saved.svg': 'img/logo_title_saved.svg'
        }
      }
    },
    computed: {
      diaryHasChanged (){
        return this.title !== this.titleOrigin || this.content !== this.contentOrigin
      }
    },
    mounted() {
      // 标签关闭提醒
      window.onbeforeunload = () => {
        if (diaryEditor.diaryHasChanged){
          return "日记内容已改变，显示提示框"
        }
      };
      this.isNew = !Boolean(location.search);
      if(this.isNew){
        // 新建日记
        this.id = '';
        this.date = dateFormatter(new Date(), 'yyyy-MM-dd hh:mm');
        this.title = '';
        this.content = '';
        this.category = 'life';
        this.temperature = '';
        this.weather = 'sunny'
      } else {
        // 编辑日记
        $.ajax({
          url: URL.diaryOperation,
          dataType: 'json',
          data: {
            type: 'query',
            diaryId: getSearchData().id
          },
          success: data => {
            if (data.success){
              let diary = data.data[0];
              diaryEditor.id = diary.id;
              diaryEditor.title = diary.title;
              diaryEditor.titleOrigin = diary.title;
              diaryEditor.content = diary.content;
              diaryEditor.contentOrigin = diary.content;
              diaryEditor.date = diary.date.substring(0,16);
              diaryEditor.category = diary.category;
              diaryEditor.temperature = diary.temperature === '-273'? '': diary.temperature ;
              diaryEditor.weather = diary.weather;
              if(diary.content){
                diaryEditor.contentEditorShowed = true;
              }
            }
          }
        });
      }
    },
  });

</script>
</body>
</html>
