@use "sass:color" as color;
@use "plugin" as *;

input[type=checkbox],
input[type=radio]
{
  display: none;
}

$height-radio: 16px;
$radio-gap: 3px;
$radio-length-timer: 2.5;

input[type=checkbox] + label.switch
{
  position: relative;
  display: block;
  border-radius: $height-radio * 1.5;
  background-color: $color-border;
  box-shadow: inset 2px 2px 3px rgba(0,0,0,0.2);
  height: $height-radio + $radio-gap * 2;
  width: $height-radio * $radio-length-timer;
  transition: all 0.3s;
  &.dark{
    outline: 1px solid $color-border-menu;
    background-color: $bg-setup-card;
  }
  &:before{
    background: linear-gradient(white, #eee);
    content: '';
    display: block;
    position: absolute;
    top: $radio-gap;
    left: $radio-gap;
    width: $height-radio;
    height: $height-radio;
    border-radius: $height-radio;
    background-color: white;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.3);
    transition: all 0.3s;
  }
}

input[type=checkbox]:checked + label.switch
{
  background-color: $green;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  transition: all 0.3s;
  outline: 1px solid color.adjust($green, $lightness: -5%);

  &.dark{
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: $height-radio * $radio-length-timer - $radio-gap - $height-radio;
    right: 0;
    width: $height-radio;
    height: $height-radio;
    border-radius: $height-radio;
    transition: all 0.3s;
  }
}



.toggle-input-group{
  margin-bottom: 15px;
  label {
    display: block;
    line-height: 200%;
    font-size: $fz-note;
    color: $bg-light;
  }
  .toggle-input-wrapper{
    background-color: $bg-menu;
    width: 100%;
    border-radius: 30px;
    display: block;
    line-height: 1.5;
    padding: 8px 12px;
    font-size: $fz-title;
    color: white;
    font-weight: bold;
    transition: all .5s;
  }

  &.white {
    label {
      color: $text-content;
    }

    input {
      background-color: $bg-light;
      color: $text-content;

      &:focus {
        background-color: white;
        box-shadow: 0 0 0 2px $color-main;
      }
    }
  }
}
