$gap: 15px;

.markdown{
    line-height: 1.5;
    color: $text-content;
    font-size: 14px;

    p{
        margin-bottom: 5px;
    }

    img{
        border: 1px solid $color-border;
        max-width: 100%;
        background-color: white;
        @include border-radius(3px);
    }


    @for $item from 1 through 7 {
        h#{$item}{
            margin-top: (7-$item)*5px;
            margin-bottom: (7-$item)*2px;
            font-size: 14px + (7-$item)*2;
        }
    }

    pre{
        margin-bottom: $gap;
        font-size: $fz-small;
        padding: $gap $gap + 5;
        background-color: $bg-light;
        code{
            padding: 0;
            font-family: "JetBrainsMonoDiary";
            background-color: $bg-light;
        }
    }

    code{
        padding: 2px 5px;
        font-family: "JetBrainsMonoDiary";
        background-color: $bg-light;
        @include border-radius(2px);
    }

    table{
        margin-bottom: $gap;
        border: 1px solid $color-border;
        tr{
            th{
                text-align: left;
                min-width: 50px;
                padding: 3px 5px;
                border: 1px solid $color-border;
                background-color: $bg-light;
            }
            td{
                text-align: left;
                border: 1px solid $color-border;
                padding: 2px 3px;

            }
        }
    }

    ul{
        margin-bottom: $gap;
        li{
            margin-left: 20px;
            line-height: 1.5;
            margin-bottom: 2px;
        }
    }
    ol{
        margin-bottom: $gap;
        li{
            margin-left: 20px;
            line-height: 1.5;
            margin-bottom: 2px;
        }
    }
    blockquote{
        border-left: 3px solid transparentize(black, 0.8);
        padding-left: 18px;
    }

    a{
        color: $orange;
        text-decoration: underline;
    }
}

@media (prefers-color-scheme: dark) {
    .markdown{
        color: $dark-text;
        p{
        }
        img{
            padding: 5px;
            border-color: $dark-border;
            background-color: $dark-bg-dark;
        }

        pre{
            background-color: $dark-bg-dark;
            code{
                background-color: $dark-bg-dark;
            }
        }
        code{
            background-color: $dark-bg-dark;
        }
        table{
            border: 1px solid $dark-border;
            tr{
                th{
                    border: 1px solid $dark-border;
                    background-color: $dark-bg-dark;
                }
                td{
                    border: 1px solid $dark-border;
                }
            }
        }

        ul{
            li{
            }
        }
        ol{
            li{
            }
        }
        blockquote{
            border-left: 3px solid $dark-border-active;
        }
        a{
            color: $orange;
        }
    }
}
